/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input,
select {
  vertical-align: middle; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  color: #343434; }

h1 {
  font-size: 4rem; }

h2 {
  margin: 15px 0;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

h3 {
  font-size: 2.8rem; }

p {
  font-size: 1.6rem;
  line-height: 1.4; }

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #343434; }

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer; }

img {
  width: 100%; }

input {
  border: none;
  outline: none; }

.container {
  width: 90%;
  margin: 0 auto; }

.text-warning {
  color: #f89d13; }

.text-secondary {
  color: #6c757d; }

.btn {
  padding: 10px 16px;
  border-radius: 25px;
  transition: .3s;
  cursor: pointer; }
  .btn-primary {
    border: 1px solid #3cb46e;
    color: #3cb46e;
    margin: 0 16px; }
  .btn-accent {
    background-color: #3cb46e;
    color: white; }
    .btn-accent:hover {
      background-color: #2f8e57; }
  .btn--contact {
    text-transform: uppercase;
    font-size: 1.1rem; }
    .btn--contact:hover {
      background-color: #dddddd; }

nav {
  border-bottom: 1px solid #a7a5a5;
  position: relative; }
  nav .container {
    display: flex;
    justify-content: space-between;
    padding: 15px; }
  nav .brand {
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: -2px; }
  @media (min-width: 1080px) {
    nav .toggle-menu {
      display: none; } }
  nav ul {
    display: none; }
    @media (min-width: 1080px) {
      nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        nav ul li a {
          padding: 18px 16px;
          text-transform: uppercase;
          font-size: 1.3rem;
          transition: .3s; }
          nav ul li a:hover {
            background-color: #dddddd; } }
  nav ul.open {
    position: absolute;
    top: 58px;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.75);
    z-index: 1000;
    transition: .3s;
    display: block; }
    nav ul.open li a {
      display: block;
      widows: 100%;
      text-align: center;
      text-transform: uppercase;
      padding: 15px 0;
      transition: .3s; }
      nav ul.open li a:hover {
        background-color: #dddddd; }
      nav ul.open li a.btn {
        width: 100%;
        text-align: center;
        border: none;
        border-radius: 0; }
        nav ul.open li a.btn-primary, nav ul.open li a.btn-accent {
          margin: 0;
          background: none;
          color: #343434; }
          nav ul.open li a.btn-primary:hover, nav ul.open li a.btn-accent:hover {
            background-color: #dddddd; }

.btn {
  padding: 10px 16px;
  border-radius: 25px;
  transition: .3s;
  cursor: pointer; }
  .btn-primary {
    border: 1px solid #3cb46e;
    color: #3cb46e;
    margin: 0 16px; }
  .btn-accent {
    background-color: #3cb46e;
    color: white; }
    .btn-accent:hover {
      background-color: #2f8e57; }
  .btn--contact {
    text-transform: uppercase;
    font-size: 1.1rem; }
    .btn--contact:hover {
      background-color: #dddddd; }

/* with flexbox */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-image: url("../images/header-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff; }
  header#homePage {
    padding: 40px 0; }
  @media (min-width: 768px) {
    header {
      height: calc(100vh - 200px); } }
  header h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 18px;
    text-shadow: 1px 1px 2px #000000; }
  header .search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: fit-content;
    font-size: 1.6rem; }
    header .search-bar input {
      width: 75%;
      padding: 12px 0 12px 16px;
      border-radius: 25px 0 0 25px;
      color: #343434; }
    header .search-bar button {
      background-color: #ffffff;
      color: #3cb46e;
      padding: 7px 16px 5px 16px;
      text-align: center;
      border-radius: 0 25px 25px 0;
      transition: .3s; }
      header .search-bar button:hover {
        color: #2f8e57; }
  header p {
    margin-top: 5px;
    text-align: center;
    font-size: 1.3rem;
    text-shadow: 1px 1px 2px #000000; }
  @media (min-width: 768px) {
    header {
      padding: 0 5rem; } }
  @media (min-width: 1080px) {
    header {
      padding: 0 20rem; } }

#bestAdventures {
  padding: 15px; }
  #bestAdventures .grid {
    display: flex; }
    #bestAdventures .grid-col {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      padding: 0 .1rem;
      /* 2 columns by default, hide columns 2 & 3 */
      /* 3 columns at medium size */
      /* 4 columns at large size */ }
      #bestAdventures .grid-col--2, #bestAdventures .grid-col--3 {
        display: none; }
      @media (min-width: 768px) {
        #bestAdventures .grid-col--2 {
          display: block;
          /* show column 2 */ } }
      @media (min-width: 1080px) {
        #bestAdventures .grid-col--3 {
          display: block;
          /* show column 3 */ } }
    #bestAdventures .grid-item {
      position: relative; }
      #bestAdventures .grid-item .caption {
        position: absolute;
        top: 15px;
        left: 0;
        padding: 10px;
        font-size: 1.4em;
        text-transform: uppercase;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.75);
        color: #ffffff; }
    #bestAdventures .grid-item .action {
      position: absolute;
      right: 10px;
      bottom: 15px;
      display: flex; }
      #bestAdventures .grid-item .action .btn-action {
        background-color: #3cb46e;
        color: #ffffff;
        -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
        transition: .3s;
        padding-top: 3px;
        height: 30px; }
        #bestAdventures .grid-item .action .btn-action--like {
          padding-left: 15px;
          padding-right: 10px;
          border-right: 1px solid #ffffff;
          border-radius: 25px 0 0px 25px; }
        #bestAdventures .grid-item .action .btn-action--add {
          padding-right: 15px;
          padding-left: 10px;
          border-radius: 0 25px 25px 0; }
        #bestAdventures .grid-item .action .btn-action:hover {
          background-color: #2f8e57; }
        #bestAdventures .grid-item .action .btn-action .material-icons {
          font-size: 16px; }

#features {
  background-color: #343434;
  height: fit-content;
  color: #ffffff;
  padding: 15px 0;
  text-align: center; }
  #features .content-text {
    margin-top: 30px; }
  #features .tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: inherit;
    flex-wrap: wrap;
    padding: 40px 0 20px 0; }
    #features .tools h3 {
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: bold;
      margin: 16px 0; }
    #features .tools p {
      color: #707070; }
    @media (min-width: 1080px) {
      #features .tools {
        padding: 40px 20rem 20px 20rem; } }
  #features .col-3 {
    padding-bottom: 15px;
    width: 182px; }
  #features .icon {
    width: 80px;
    margin: 0 auto;
    padding: 10px 0;
    background-color: #ffffff;
    color: #3cb46e;
    border-radius: 7px; }
    #features .icon .material-icons {
      font-size: 6rem; }

footer {
  padding: 50px 0;
  text-align: center; }
  footer p {
    font-size: 1.2rem; }

header#about {
  padding: 0; }
  header#about .container {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: inherit;
    background-color: rgba(255, 255, 255, 0.9);
    color: #343434;
    padding: 30px;
    text-align: left;
    font-size: 1.6rem; }
    header#about .container p.text-content {
      text-align: left;
      text-shadow: none;
      font-size: 1.7rem;
      margin-bottom: 15px;
      width: 100%; }
      header#about .container p.text-content a {
        color: #3cb46e;
        border-bottom: 1px dashed #3cb46e; }
    header#about .container h1 {
      text-shadow: none; }

section#about-features {
  background-color: #343434;
  color: #ffffff;
  padding: 45px 0; }
  section#about-features .container h2 {
    margin-bottom: 30px; }

#team {
  padding-bottom: 20px; }
  #team h2 {
    padding: 20px 0; }

.profiles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .profiles-container .profile-box {
    background: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
    border-radius: 3px;
    margin: 16px 16px;
    padding: 20px;
    width: 100%;
    text-align: center;
    transition: 300ms;
    flex-grow: 1; }
    @media (min-width: 768px) {
      .profiles-container .profile-box {
        max-width: 45%; } }
    @media (min-width: 1080px) {
      .profiles-container .profile-box {
        max-width: 30%; } }
    .profiles-container .profile-box:hover {
      box-shadow: 0 0 20px 9px rgba(0, 0, 0, 0.03); }
    .profiles-container .profile-box img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-shadow: 0 2px 6px 0 rgba(47, 83, 151, 0.1);
      margin-bottom: 16px; }
    .profiles-container .profile-box h3 {
      font-weight: 300;
      font-size: 18px;
      margin-bottom: 0;
      padding-bottom: 10px; }
    .profiles-container .profile-box p {
      font-size: 1.3rem;
      color: #a7a5a5; }
    .profiles-container .profile-box .btn-group {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: inherit;
      margin-top: 16px;
      padding-bottom: 10px; }

header#ideasHeader {
  background-image: url("../images/person_looking_up_fligth_schedule.jpg");
  position: relative;
  padding: 40px; }
  header#ideasHeader .filter {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
  header#ideasHeader .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3; }
    header#ideasHeader .container p {
      margin-top: -5px;
      font-size: 2rem;
      text-shadow: none; }
    header#ideasHeader .container .btn {
      margin-top: 20px;
      padding-left: 40px;
      padding-right: 40px; }

main#ideas {
  margin-top: 30px; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.col {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: inherit;
  width: 100%; }
  @media (min-width: 1080px) {
    .col {
      width: 47%;
      margin-right: 2rem; } }
  .col.listing {
    box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    border-radius: 7px;
    position: relative;
    background: #ffffff;
    display: block; }
    @media (min-width: 768px) {
      .col.listing {
        display: flex;
        flex-direction: row; } }
    .col.listing .img {
      display: block;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      flex: 0 0 100%;
      height: 220px; }
      @media (min-width: 768px) {
        .col.listing .img {
          flex: 0 0 230px;
          width: 230px;
          border-top-right-radius: 0;
          border-bottom-left-radius: 7px;
          margin-right: 10px; } }
    .col.listing .btn-listing {
      font-size: 11px;
      display: inline-block;
      padding: 5px 20px;
      background: #e9ecef;
      border-radius: 30px;
      margin-bottom: 20px;
      color: #000000;
      font-weight: bold;
      transition: .3s; }
      .col.listing .btn-listing:hover {
        background-color: #3cb46e;
        color: white; }
    .col.listing .lh-content {
      padding: 20px;
      position: relative;
      width: 100%; }
      .col.listing .lh-content .bookmark {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        background: rgba(0, 0, 0, 0.03);
        transition: .3s all ease;
        font-size: 16px;
        color: #5bc888; }
        .col.listing .lh-content .bookmark span {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); }
        .col.listing .lh-content .bookmark:hover {
          background: #f23a2e; }
          .col.listing .lh-content .bookmark:hover span {
            color: #ffffff; }
      .col.listing .lh-content p {
        margin-top: 25px; }
      .col.listing .lh-content h3 {
        margin-bottom: 1rem; }
        .col.listing .lh-content h3 a {
          color: #5bc888; }
    .col.listing address,
    .col.listing .review {
      font-size: 13px; }
    .col.listing h3 {
      font-size: 16px !important; }

/*# sourceMappingURL=main.css.map */
