    /* with flexbox */
    
    header {
        @include flex-layout(column, center, center);
        height: calc(100vh - 300px);
        background-image: url('../images/header-cover.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: $white-color;
        h1 {
            font-size: 3rem;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 18px;
        }
        .search-bar {
            @include flex-layout(row,
            center,
            center);
            text-align: center;
            position: relative;
            input {
                width: 75%;
                padding: 13px;
                border-radius: 25px 0 0 25px;
                border: 1px solid $light-grey;
            }
            button {
                border: 1px solid $light-grey;
                background-color: $green-color;
                color: $white-color;
                padding: 8.5px 20px 5px 20px;
                text-align: center;
                border-radius: 0 25px 25px 0;
                border-left: none;
                transition: .3s;
                &:hover {
                    background-color: darken($green-color, 10%);
                }
            }
        }
        p {
            margin-top: 5px;
            text-align: center;
            font-size: 1.3rem;
        }
        @media (min-width: $tablet) {
            padding: 0 5rem;
        }
        @media (min-width: $large) {
            padding: 0 20rem;
        }
    }
    
    #bestAdventures {
        padding: 15px;
        .grid {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            &-col {
                -webkit-box-flex: 1;
                -webkit-flex-grow: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                padding: 0 .1rem;
                /* 2 columns by default, hide columns 2 & 3 */
                &--2,
                &--3 {
                    display: none
                }
                /* 3 columns at medium size */
                &--2 {
                    @media ( min-width: $tablet) {
                        display: block;
                        /* show column 2 */
                    }
                }
                /* 4 columns at large size */
                &--3 {
                    @media ( min-width: $large) {
                        display: block;
                        /* show column 3 */
                    }
                }
            }
            &-item {
                position: relative;
            }
            &-item .action {
                position: absolute;
                right: 10px;
                bottom: 15px;
                display: flex;
                .btn-action {
                    background-color: $green-color;
                    padding: 5px;
                    color: $white-color;
                    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
                    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
                    transition: .3s;
                    &--like {
                        padding-left: 15px;
                        border-right: 1px solid $white-color;
                        border-radius: 25px 0 0px 25px;
                    }
                    &--add {
                        padding-right: 15px;
                        border-radius: 0 25px 25px 0;
                    }
                    &:hover {
                        background-color: darken($green-color, 10%);
                    }
                }
            }
        }
    }