// Colors
$base-color: #343434;
$light-grey: #a7a5a5;
$light-grey-2: #707070;
$green-color: #3cb46e;
$white-color: #ffffff;
$gray-200: #e9ecef;
$grey-300: #6c757d;
$black-color: #000000;
$red-color: #f23a2e;
$danger: $red-color;
$warning: #f89d13;
// Devices Screen 
$tablet: 768px;
$large: 1080px;